platform/infra/n8n/workflows/streamyard_session_update.json
{
  "name": "streamyard_session_update",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "streamyard-session-update",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "Webhook_StreamYard_Session",
      "name": "Webhook StreamYard Session",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 300],
      "webhookId": "streamyard-session-update"
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "challenge_key_default",
              "name": "challenge_key",
              "value": "={{ $json.challenge_key || 'challenge-amazon-fba' }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "Set_StreamYard_Defaults",
      "name": "Ensure Challenge Key",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [520, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8000/webhooks/streamyard/session",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}"
      },
      "id": "HTTP_StreamYard_Session",
      "name": "Forward to API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [800, 300],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "Respond_StreamYard_Session",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [1060, 300]
    }
  ],
  "connections": {
    "Webhook StreamYard Session": {
      "main": [
        [
          {
            "node": "Ensure Challenge Key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ensure Challenge Key": {
      "main": [
        [
          {
            "node": "Forward to API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Forward to API": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "active": false
}
