platform/infra/n8n/workflows/streamyard_attendance_sync.json
{
  "name": "streamyard_attendance_sync",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "streamyard-attendance-sync",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "Webhook_StreamYard_Attendance",
      "name": "Webhook StreamYard Attendance",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 300],
      "webhookId": "streamyard-attendance-sync"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8000/webhooks/streamyard/attendance",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}"
      },
      "id": "HTTP_StreamYard_Attendance",
      "name": "Forward to API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [560, 300],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "Respond_StreamYard_Attendance",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [820, 300]
    }
  ],
  "connections": {
    "Webhook StreamYard Attendance": {
      "main": [
        [
          {
            "node": "Forward to API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Forward to API": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "active": false
}
