platform/infra/n8n/workflows/systemeio_lead_capture_eu.json
{
  "name": "systemeio_lead_capture_eu",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "systemeio-lead-capture-eu",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "Webhook_Systemeio_EU",
      "name": "Webhook Systeme.io EU",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 300],
      "webhookId": "systemeio-lead-capture-eu"
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "cohort_eu",
              "name": "cohort",
              "value": "EU",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "Set_Cohort_EU",
      "name": "Inject Cohort EU",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [520, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8000/webhooks/systemeio",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}"
      },
      "id": "HTTP_Systemeio_EU",
      "name": "Forward to API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [780, 300],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "Respond_Systemeio_EU",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [1040, 300]
    }
  ],
  "connections": {
    "Webhook Systeme.io EU": {
      "main": [
        [
          {
            "node": "Inject Cohort EU",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inject Cohort EU": {
      "main": [
        [
          {
            "node": "Forward to API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Forward to API": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "active": false
}
